source buildkite-secrets/docker-compose-env
source load-env

export BUILDKITE_AGENT_TOKEN
export BUILDKITE_HOST
export BUILDKITE_QUEUE
export DOCKER_VERSION
export NVIDIA_DOCKER_VERSION
export NVIDIA_DEVICE
